
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:cornflowerblue;
    height: 150px;
    text-decoration-color: darkblue;
    text-align: center;

}
.list-group {
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.card-title {
    font-size: 20px;
}
.search-bar {
    text-align: center;
    background-color: lightgray;
    text-size-adjust: 20px;
    height: 200px;

}
.form-input {
}
.btn {
    background-color:black;
    padding-top: 10px;
    height:40px;
    width:150px;
}
.btn-text {
    justify-content: center;
    text-align:center;
}
img {
    width: 100px;
    height: 100px;
}
/* Forecast Target Cards */
.card {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: #1e7fe0;
    color: white;
    float: left;
    margin: 10px;
    border: 1px solid lightgray;
}

.UVI-low {
    color:green;
    text-size-adjust: 15px;
}

.UVI-mid {
    color: yellow
}

.UVI-high {
    color: red;

}